<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tboys.expressdelivery">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="快捷快递"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="users.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.tboys.expressdelivery"/>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MyContactActivity" />
        <activity android:name=".activity.NoticeActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.QueryDeliveryActivity" />
        <activity android:name=".activity.SendDeliveryActivity" />
        <activity android:name=".activity.AddContactActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AddDeliveryNumActivity" />
        <activity android:name=".activity.DeliverSortActivity" />
        <activity android:name=".activity.SaoMiaoActivity" />
        <activity android:name=".activity.ShowTypeActivity"
            android:parentActivityName=".activity.SettingActivity"></activity>
    </application>

</manifest>
